<a href="https://colab.research.google.com/github/vitolemus/learningPandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DataFrames

In [ ]:
import pandas as pd

__Ejercicio 1:__ Crear una serie de pandas con el siguiente arreglo

In [ ]:
edades=[22,13,8,33,25,44,38,22]

In [ ]:
edades

[22, 13, 8, 33, 25, 44, 38, 22]

In [ ]:
serie = pd.Series(edades)

In [ ]:
serie

0    22
1    13
2     8
3    33
4    25
5    44
6    38
7    22
dtype: int64

__Ejercicio 2:__

Obtener los primeros 5 registros utilizando head

In [ ]:
serie.head()

0    22
1    13
2     8
3    33
4    25
dtype: int64

Obtener los últimos 3 registros utilizando tail

In [ ]:
serie.tail(3)

5    44
6    38
7    22
dtype: int64

__Ejercicio 3__

Obtener el valor mínimo de la serie

In [ ]:
serie.min()

8

Obtener el valor máximo de la serie

In [ ]:
serie.max()

44

Obtener el valor promedio de la serie

In [ ]:
serie.mean()

25.625

__Ejercicio 4:__ Obtener el valor en la segunda posición de la serie

In [ ]:
serie

0    22
1    13
2     8
3    33
4    25
5    44
6    38
7    22
dtype: int64

In [ ]:
serie[1]

13

In [ ]:
serie.get(5)

44

__Ejercicio 5:__ Obtener los registros que tengan un valor igual a 22

In [ ]:
serie == 22

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7     True
dtype: bool

In [ ]:
serie[serie == 22]

0    22
7    22
dtype: int64

__Ejercicio 6:__

Crear una segunda serie utilizando los siguientes datos:

In [ ]:
edades2= [23,15,12,25,20,50,31,2]

In [ ]:
serie2 = pd.Series(edades2)

In [ ]:
serie2

0    23
1    15
2    12
3    25
4    20
5    50
6    31
7     2
dtype: int64

Sumar ambas series:

In [ ]:
serie + serie2

0    45
1    28
2    20
3    58
4    45
5    94
6    69
7    24
dtype: int64

In [ ]:
edades + edades2

[22, 13, 8, 33, 25, 44, 38, 22, 23, 15, 12, 25, 20, 50, 31, 2]

In [ ]:
edades3 = 2

In [ ]:
serie3 = pd. Series(edades3)

In [ ]:
serie3

0    2
dtype: int64

In [ ]:
serie3 + serie

0    24.0
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
dtype: float64

__Ejercicio 7:__

Reordenar la serie anterior invirtiendo los indices con __sort_index()__

In [30]:
serie2 = serie2.sort_index(ascending= False)

In [32]:
serie2

7     2
6    31
5    50
4    20
3    25
2    12
1    15
0    23
dtype: int64

Volver a sumar ambas series:

In [33]:
serie + serie2

0    45
1    28
2    20
3    58
4    45
5    94
6    69
7    24
dtype: int64

Se suman por igualdad de indice NO por la posición

__Ejercicio 8:__ Restar a todos los elementos de la primera serie 5 unidades

In [34]:
serie - 5

0    17
1     8
2     3
3    28
4    20
5    39
6    33
7    17
dtype: int64

In [35]:
serie

0    22
1    13
2     8
3    33
4    25
5    44
6    38
7    22
dtype: int64

__Ejercicio 9:__ calcular el cuadrado de todos los valores en la serie utilizando __map__

In [36]:
def cuadrado(x):
  return x*x

serie.map(cuadrado)

0     484
1     169
2      64
3    1089
4     625
5    1936
6    1444
7     484
dtype: int64

__Ejercicio 10:__ Crear un DataFrame con pandas llamado paises utilizando el siguiente diccionario de datos:

In [41]:
datos={  
        "nombre":["Argentina","Brasil","Chile","Colombia","Ecuador","Paraguay","Peru"],  
        "capital":["Buenos Airea","Brasilia","Santiago de Chile","Bogotá","Quito","Asunción","Lima"],  
        "poblacion":[45380000,212600000,19120000,50880000,17640000,7133000,32970000],
        "sup. en km2":[2780000,8516000,756950,1143000,283560,406752,1285216]
        }

In [42]:
 paises = pd.DataFrame(datos)
 paises

      nombre            capital  poblacion  sup. en km2
0  Argentina       Buenos Airea   45380000      2780000
1     Brasil           Brasilia  212600000      8516000
2      Chile  Santiago de Chile   19120000       756950
3   Colombia             Bogotá   50880000      1143000
4    Ecuador              Quito   17640000       283560
5   Paraguay           Asunción    7133000       406752
6       Peru               Lima   32970000      1285216

__Ejercicio 11:__ Visualizar los primeros 5 y los últimos 3 elementos del DataFrame anterior

In [46]:
paises

      nombre            capital  poblacion  sup. en km2
0  Argentina       Buenos Airea   45380000      2780000
1     Brasil           Brasilia  212600000      8516000
2      Chile  Santiago de Chile   19120000       756950
3   Colombia             Bogotá   50880000      1143000
4    Ecuador              Quito   17640000       283560
5   Paraguay           Asunción    7133000       406752
6       Peru               Lima   32970000      1285216

In [43]:
paises.head()

      nombre            capital  poblacion  sup. en km2
0  Argentina       Buenos Airea   45380000      2780000
1     Brasil           Brasilia  212600000      8516000
2      Chile  Santiago de Chile   19120000       756950
3   Colombia             Bogotá   50880000      1143000
4    Ecuador              Quito   17640000       283560

In [45]:
paises.tail(3)

     nombre   capital  poblacion  sup. en km2
4   Ecuador     Quito   17640000       283560
5  Paraguay  Asunción    7133000       406752
6      Peru      Lima   32970000      1285216

Podemos mostrar los 5 primeros lugares del DF usando Python:

In [48]:
paises[:5]

      nombre            capital  poblacion  sup. en km2
0  Argentina       Buenos Airea   45380000      2780000
1     Brasil           Brasilia  212600000      8516000
2      Chile  Santiago de Chile   19120000       756950
3   Colombia             Bogotá   50880000      1143000
4    Ecuador              Quito   17640000       283560

__Ejercicio 12:__ Crear un Dataframe utilizando el diccionario de datos anterior únicamente con las columnas nombre y población

__Ejercicio 13:__ Crear un DataFrame utilizando el diccionario de datos, con la columna "nombre" como índice:

__Ejercicio 14:__ Obtener los datos de la fila con el indice "Argentina"

__Ejercicio 15:__ Obtener la población y capital de Argentina y Brasil utilizando la función loc

__Ejercicio 16:__ Obtener la información de los paises con una superficie mayor a 1,000,000 de kilometros cuadrados utilizando loc

__Ejercicio 17:__ Cambiar el nombre de la capital Argentina a "Buenos Aires" utilizando la función loc

__Ejercicio 18:__

Obtener los datos de la fila en la tercera posición utilizando iloc

Obtener los datos de la columna en la segunda posición utilizando iloc

__Ejercicio 19:__ Obtener los datos de la fila en la tercera y cuarta posición utilizando iloc

__Ejercicio 20:__ Obtener el nombre de las columnas en el DataFrame

__Ejercicio 21:__

Obtener la columna "poblacion" con al notacion del punto

Obtener los valores de la columna "poblacion"

Obtener el nombre de la columna "poblacion"

__Ejercicio 22:__

Obtener el valor mínimo de la columna población

Obtener el valor máximo de la columna población

Obtener la desviación estandar de la columna población

__Ejercicio 23:__ Obtener un DataFrame con las columnas población y capital

__Ejercicio 24:__ Obtener únicamente los datos de los paises con una población mayor a 50,000,000

__Ejercicio 25:__

 Agregar una columna al DataFrame "paises" que contenga la población en millones de habitantes

Volver a agregar una columna al DataFrame "paises" que contenga la población en millones de habitantes, utilizando la función __apply__

__Ejercicio 26:__ Agregar una columna al DataFrame "paises" que contenga la población por cada Km2 de superficie, utilizando la función apply

__Ejercicio 27:__ Guardar el DataFrame en formato pickle

__Ejercicio 28:__ Leer el archivo pickle anterior

__Ejercicio 29:__

Guardar el DataFrame paises en formato .csv

Guardar el DataFrame paises en formato .xlsx

__Ejercicio 30:__

Leer el archivo __csv.csv__

Leer el archivo __excel.xlsx__