<a href="https://colab.research.google.com/github/vitolemus/learningPandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DataFrames

In [ ]:
import pandas as pd

__Ejercicio 1:__ Crear una serie de pandas con el siguiente arreglo

In [ ]:
edades=[22,13,8,33,25,44,38,22]

In [ ]:
edades

[22, 13, 8, 33, 25, 44, 38, 22]

__Ejercicio 2:__

Obtener los primeros 5 registros utilizando head

Obtener los últimos 3 registros utilizando tail

__Ejercicio 3__

Obtener el valor mínimo de la serie

Obtener el valor máximo de la serie

Obtener el valor promedio de la serie

__Ejercicio 4:__ Obtener el valor en la segunda posición de la serie

__Ejercicio 5:__ Obtener los registros que tengan un valor igual a 22

__Ejercicio 6:__

Crear una segunda serie utilizando los siguientes datos:

In [ ]:
edades2= [23,15,12,25,20,50,31,2]

Sumar ambas series:

__Ejercicio 7:__

Reordenar la serie anterior invirtiendo los indices con __sort_index()__

Volver a sumar ambas series:

__Ejercicio 8:__ Restar a todos los elementos de la primera serie 5 unidades

__Ejercicio 9:__ calcular el cuadrado de todos los valores en la serie utilizando __map__

NameError: name 'serie' is not defined

__Ejercicio 10:__ Crear un DataFrame con pandas llamado paises utilizando el siguiente diccionario de datos:

In [ ]:
datos={  
        "nombre":["Argentina","Brasil","Chile","Colombia","Ecuador","Paraguay","Peru"],  
        "capital":["Buenos Airea","Brasilia","Santiago de Chile","Bogotá","Quito","Asunción","Lima"],  
        "poblacion":[45380000,212600000,19120000,50880000,17640000,7133000,32970000],
        "sup. en km2":[2780000,8516000,756950,1143000,283560,406752,1285216]
        }

__Ejercicio 11:__ Visualizar los primeros 5 y los últimos 3 elementos del DataFrame anterior

__Ejercicio 12:__ Crear un Dataframe utilizando el diccionario de datos anterior únicamente con las columnas nombre y población

__Ejercicio 13:__ Crear un DataFrame utilizando el diccionario de datos, con la columna "nombre" como índice:

__Ejercicio 14:__ Obtener los datos de la fila con el indice "Argentina"

__Ejercicio 15:__ Obtener la población y capital de Argentina y Brasil utilizando la función loc

__Ejercicio 16:__ Obtener la información de los paises con una superficie mayor a 1,000,000 de kilometros cuadrados utilizando loc

__Ejercicio 17:__ Cambiar el nombre de la capital Argentina a "Buenos Aires" utilizando la función loc

__Ejercicio 18:__

Obtener los datos de la fila en la tercera posición utilizando iloc

Obtener los datos de la columna en la segunda posición utilizando iloc

__Ejercicio 19:__ Obtener los datos de la fila en la tercera y cuarta posición utilizando iloc

__Ejercicio 20:__ Obtener el nombre de las columnas en el DataFrame

__Ejercicio 21:__

Obtener la columna "poblacion" con al notacion del punto

Obtener los valores de la columna "poblacion"

Obtener el nombre de la columna "poblacion"

__Ejercicio 22:__

Obtener el valor mínimo de la columna población

Obtener el valor máximo de la columna población

Obtener la desviación estandar de la columna población

__Ejercicio 23:__ Obtener un DataFrame con las columnas población y capital

__Ejercicio 24:__ Obtener únicamente los datos de los paises con una población mayor a 50,000,000

__Ejercicio 25:__

 Agregar una columna al DataFrame "paises" que contenga la población en millones de habitantes

Volver a agregar una columna al DataFrame "paises" que contenga la población en millones de habitantes, utilizando la función __apply__

__Ejercicio 26:__ Agregar una columna al DataFrame "paises" que contenga la población por cada Km2 de superficie, utilizando la función apply

__Ejercicio 27:__ Guardar el DataFrame en formato pickle

__Ejercicio 28:__ Leer el archivo pickle anterior

__Ejercicio 29:__

Guardar el DataFrame paises en formato .csv

Guardar el DataFrame paises en formato .xlsx

__Ejercicio 30:__

Leer el archivo __csv.csv__

Leer el archivo __excel.xlsx__