<a href="https://colab.research.google.com/github/vitolemus/learningPandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DataFrames

In [2]:
import pandas as pd

__Ejercicio 1:__ Crear una serie de pandas con el siguiente arreglo

In [3]:
edades=[22,13,8,33,25,44,38,22]

In [4]:
edades

[22, 13, 8, 33, 25, 44, 38, 22]

In [5]:
serie = pd.Series(edades)

In [6]:
serie

0    22
1    13
2     8
3    33
4    25
5    44
6    38
7    22
dtype: int64

__Ejercicio 2:__

Obtener los primeros 5 registros utilizando head

In [7]:
serie.head()

0    22
1    13
2     8
3    33
4    25
dtype: int64

Obtener los últimos 3 registros utilizando tail

In [8]:
serie.tail(3)

5    44
6    38
7    22
dtype: int64

__Ejercicio 3__

Obtener el valor mínimo de la serie

In [9]:
serie.min()

8

Obtener el valor máximo de la serie

In [10]:
serie.max()

44

Obtener el valor promedio de la serie

In [11]:
serie.mean()

25.625

__Ejercicio 4:__ Obtener el valor en la segunda posición de la serie

In [12]:
serie

0    22
1    13
2     8
3    33
4    25
5    44
6    38
7    22
dtype: int64

In [13]:
serie[1]

13

In [14]:
serie.get(5)

44

__Ejercicio 5:__ Obtener los registros que tengan un valor igual a 22

In [15]:
serie == 22

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7     True
dtype: bool

In [16]:
serie[serie == 22]

0    22
7    22
dtype: int64

__Ejercicio 6:__

Crear una segunda serie utilizando los siguientes datos:

In [17]:
edades2= [23,15,12,25,20,50,31,2]

In [18]:
serie2 = pd.Series(edades2)

In [19]:
serie2

0    23
1    15
2    12
3    25
4    20
5    50
6    31
7     2
dtype: int64

Sumar ambas series:

In [20]:
serie + serie2

0    45
1    28
2    20
3    58
4    45
5    94
6    69
7    24
dtype: int64

In [21]:
edades + edades2

[22, 13, 8, 33, 25, 44, 38, 22, 23, 15, 12, 25, 20, 50, 31, 2]

In [22]:
edades3 = 2

In [23]:
serie3 = pd. Series(edades3)

In [24]:
serie3

0    2
dtype: int64

In [25]:
serie3 + serie

0    24.0
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
dtype: float64

__Ejercicio 7:__

Reordenar la serie anterior invirtiendo los indices con __sort_index()__

In [26]:
serie2 = serie2.sort_index(ascending= False)

In [27]:
serie2

7     2
6    31
5    50
4    20
3    25
2    12
1    15
0    23
dtype: int64

Volver a sumar ambas series:

In [28]:
serie + serie2

0    45
1    28
2    20
3    58
4    45
5    94
6    69
7    24
dtype: int64

Se suman por igualdad de indice NO por la posición

__Ejercicio 8:__ Restar a todos los elementos de la primera serie 5 unidades

In [29]:
serie - 5

0    17
1     8
2     3
3    28
4    20
5    39
6    33
7    17
dtype: int64

In [30]:
serie

0    22
1    13
2     8
3    33
4    25
5    44
6    38
7    22
dtype: int64

__Ejercicio 9:__ calcular el cuadrado de todos los valores en la serie utilizando __map__

In [31]:
def cuadrado(x):
  return x*x

serie.map(cuadrado)

0     484
1     169
2      64
3    1089
4     625
5    1936
6    1444
7     484
dtype: int64

__Ejercicio 10:__ Crear un DataFrame con pandas llamado paises utilizando el siguiente diccionario de datos:

In [32]:
datos={  
        "nombre":["Argentina","Brasil","Chile","Colombia","Ecuador","Paraguay","Peru"],  
        "capital":["Buenos Airea","Brasilia","Santiago de Chile","Bogotá","Quito","Asunción","Lima"],  
        "poblacion":[45380000,212600000,19120000,50880000,17640000,7133000,32970000],
        "sup. en km2":[2780000,8516000,756950,1143000,283560,406752,1285216]
        }

In [33]:
 paises = pd.DataFrame(datos)
 paises

      nombre            capital  poblacion  sup. en km2
0  Argentina       Buenos Airea   45380000      2780000
1     Brasil           Brasilia  212600000      8516000
2      Chile  Santiago de Chile   19120000       756950
3   Colombia             Bogotá   50880000      1143000
4    Ecuador              Quito   17640000       283560
5   Paraguay           Asunción    7133000       406752
6       Peru               Lima   32970000      1285216

__Ejercicio 11:__ Visualizar los primeros 5 y los últimos 3 elementos del DataFrame anterior

In [34]:
paises

      nombre            capital  poblacion  sup. en km2
0  Argentina       Buenos Airea   45380000      2780000
1     Brasil           Brasilia  212600000      8516000
2      Chile  Santiago de Chile   19120000       756950
3   Colombia             Bogotá   50880000      1143000
4    Ecuador              Quito   17640000       283560
5   Paraguay           Asunción    7133000       406752
6       Peru               Lima   32970000      1285216

In [35]:
paises.head()

      nombre            capital  poblacion  sup. en km2
0  Argentina       Buenos Airea   45380000      2780000
1     Brasil           Brasilia  212600000      8516000
2      Chile  Santiago de Chile   19120000       756950
3   Colombia             Bogotá   50880000      1143000
4    Ecuador              Quito   17640000       283560

In [36]:
paises.tail(3)

     nombre   capital  poblacion  sup. en km2
4   Ecuador     Quito   17640000       283560
5  Paraguay  Asunción    7133000       406752
6      Peru      Lima   32970000      1285216

Podemos mostrar los 5 primeros lugares del DF usando Python:

In [37]:
paises[:5]

      nombre            capital  poblacion  sup. en km2
0  Argentina       Buenos Airea   45380000      2780000
1     Brasil           Brasilia  212600000      8516000
2      Chile  Santiago de Chile   19120000       756950
3   Colombia             Bogotá   50880000      1143000
4    Ecuador              Quito   17640000       283560

__Ejercicio 12:__ Crear un Dataframe utilizando el diccionario de datos anterior únicamente con las columnas nombre y población

In [38]:
paises2 = pd.DataFrame(datos, columns = ["nombre", "poblacion"])

In [39]:
paises2

      nombre  poblacion
0  Argentina   45380000
1     Brasil  212600000
2      Chile   19120000
3   Colombia   50880000
4    Ecuador   17640000
5   Paraguay    7133000
6       Peru   32970000

__Ejercicio 13:__ Crear un DataFrame utilizando el diccionario de datos, con la columna "nombre" como índice:

In [40]:
paises3 = pd.DataFrame(datos, index=datos["nombre"], columns=["capital", "poblacion", "sup. en km2"])

In [41]:
paises3

                     capital  poblacion  sup. en km2
Argentina       Buenos Airea   45380000      2780000
Brasil              Brasilia  212600000      8516000
Chile      Santiago de Chile   19120000       756950
Colombia              Bogotá   50880000      1143000
Ecuador                Quito   17640000       283560
Paraguay            Asunción    7133000       406752
Peru                    Lima   32970000      1285216

__Ejercicio 14:__ Obtener los datos de la fila con el indice "Argentina"

In [42]:
paises3.loc["Argentina"]

capital        Buenos Airea
poblacion          45380000
sup. en km2         2780000
Name: Argentina, dtype: object

__Ejercicio 15:__ Obtener la población y capital de Argentina y Brasil utilizando la función loc

In [43]:
paises3.loc[["Argentina", "Brasil"], ["poblacion"]]

           poblacion
Argentina   45380000
Brasil     212600000

__Ejercicio 16:__ Obtener la información de los paises con una superficie mayor a 1,000,000 de kilometros cuadrados utilizando loc

Para mostrar solo 1 columna, lo podemos hacer de las siguientes formas:

In [44]:
paises3.loc[ : , ["sup. en km2"]]

           sup. en km2
Argentina      2780000
Brasil         8516000
Chile           756950
Colombia       1143000
Ecuador         283560
Paraguay        406752
Peru           1285216

In [45]:
paises3.capital

Argentina         Buenos Airea
Brasil                Brasilia
Chile        Santiago de Chile
Colombia                Bogotá
Ecuador                  Quito
Paraguay              Asunción
Peru                      Lima
Name: capital, dtype: object

In [46]:
paises3.poblacion

Argentina     45380000
Brasil       212600000
Chile         19120000
Colombia      50880000
Ecuador       17640000
Paraguay       7133000
Peru          32970000
Name: poblacion, dtype: int64

In [47]:
paises3["sup. en km2"]

Argentina    2780000
Brasil       8516000
Chile         756950
Colombia     1143000
Ecuador       283560
Paraguay      406752
Peru         1285216
Name: sup. en km2, dtype: int64

In [48]:
paises3.loc[paises3["sup. en km2"]> 1000000]

                capital  poblacion  sup. en km2
Argentina  Buenos Airea   45380000      2780000
Brasil         Brasilia  212600000      8516000
Colombia         Bogotá   50880000      1143000
Peru               Lima   32970000      1285216

__Ejercicio 17:__ Cambiar el nombre de la capital Argentina a "Buenos Aires" utilizando la función loc

In [49]:
paises3

                     capital  poblacion  sup. en km2
Argentina       Buenos Airea   45380000      2780000
Brasil              Brasilia  212600000      8516000
Chile      Santiago de Chile   19120000       756950
Colombia              Bogotá   50880000      1143000
Ecuador                Quito   17640000       283560
Paraguay            Asunción    7133000       406752
Peru                    Lima   32970000      1285216

In [50]:
paises3.loc["Argentina", "capital"] = "Buenos Aires"

In [51]:
paises3.loc["Argentina", "capital"]

'Buenos Aires'

__Ejercicio 18:__

Obtener los datos de la fila en la tercera posición utilizando iloc

In [52]:
paises3.iloc[2]

capital        Santiago de Chile
poblacion               19120000
sup. en km2               756950
Name: Chile, dtype: object

Obtener los datos de la columna en la segunda posición utilizando iloc

In [53]:
paises3.iloc[ :, 1]

Argentina     45380000
Brasil       212600000
Chile         19120000
Colombia      50880000
Ecuador       17640000
Paraguay       7133000
Peru          32970000
Name: poblacion, dtype: int64

In [54]:
paises3

                     capital  poblacion  sup. en km2
Argentina       Buenos Aires   45380000      2780000
Brasil              Brasilia  212600000      8516000
Chile      Santiago de Chile   19120000       756950
Colombia              Bogotá   50880000      1143000
Ecuador                Quito   17640000       283560
Paraguay            Asunción    7133000       406752
Peru                    Lima   32970000      1285216

__Ejercicio 19:__ Obtener los datos de la fila en la tercera y cuarta posición utilizando iloc

In [55]:
paises3.iloc[[2,3]]

                    capital  poblacion  sup. en km2
Chile     Santiago de Chile   19120000       756950
Colombia             Bogotá   50880000      1143000

In [56]:
paises3

                     capital  poblacion  sup. en km2
Argentina       Buenos Aires   45380000      2780000
Brasil              Brasilia  212600000      8516000
Chile      Santiago de Chile   19120000       756950
Colombia              Bogotá   50880000      1143000
Ecuador                Quito   17640000       283560
Paraguay            Asunción    7133000       406752
Peru                    Lima   32970000      1285216

__Ejercicio 20:__ Obtener el nombre de las columnas en el DataFrame

In [57]:
paises3.columns

Index(['capital', 'poblacion', 'sup. en km2'], dtype='object')

In [58]:
paises3.index

Index(['Argentina', 'Brasil', 'Chile', 'Colombia', 'Ecuador', 'Paraguay',
       'Peru'],
      dtype='object')

In [59]:
paises3

                     capital  poblacion  sup. en km2
Argentina       Buenos Aires   45380000      2780000
Brasil              Brasilia  212600000      8516000
Chile      Santiago de Chile   19120000       756950
Colombia              Bogotá   50880000      1143000
Ecuador                Quito   17640000       283560
Paraguay            Asunción    7133000       406752
Peru                    Lima   32970000      1285216

__Ejercicio 21:__

Obtener la columna "poblacion" con al notacion del punto

In [60]:
paises3.poblacion

Argentina     45380000
Brasil       212600000
Chile         19120000
Colombia      50880000
Ecuador       17640000
Paraguay       7133000
Peru          32970000
Name: poblacion, dtype: int64

Obtener los valores de la columna "poblacion"

In [61]:
paises3.poblacion.values

array([ 45380000, 212600000,  19120000,  50880000,  17640000,   7133000,
        32970000])

Obtener el nombre de la columna "poblacion"

In [62]:
paises3.poblacion.name

'poblacion'

__Ejercicio 22:__

Obtener el valor mínimo de la columna población

In [63]:
paises3.poblacion.min()

7133000

In [64]:
paises3

                     capital  poblacion  sup. en km2
Argentina       Buenos Aires   45380000      2780000
Brasil              Brasilia  212600000      8516000
Chile      Santiago de Chile   19120000       756950
Colombia              Bogotá   50880000      1143000
Ecuador                Quito   17640000       283560
Paraguay            Asunción    7133000       406752
Peru                    Lima   32970000      1285216

Obtener el valor máximo de la columna población

In [65]:
paises3.poblacion.max()

212600000

Obtener la desviación estandar de la columna población

In [66]:
paises3.poblacion.std()

71188621.18043464

__Ejercicio 23:__ Obtener un DataFrame con las columnas población y capital

In [67]:
paises4 = pd.DataFrame(datos, columns=["capital", "poblacion"], index=datos["nombre"])
paises4

                     capital  poblacion
Argentina       Buenos Airea   45380000
Brasil              Brasilia  212600000
Chile      Santiago de Chile   19120000
Colombia              Bogotá   50880000
Ecuador                Quito   17640000
Paraguay            Asunción    7133000
Peru                    Lima   32970000

In [68]:
paises3[["capital", "poblacion"]]

                     capital  poblacion
Argentina       Buenos Aires   45380000
Brasil              Brasilia  212600000
Chile      Santiago de Chile   19120000
Colombia              Bogotá   50880000
Ecuador                Quito   17640000
Paraguay            Asunción    7133000
Peru                    Lima   32970000

__Ejercicio 24:__ Obtener únicamente los datos de los paises con una población mayor a 50,000,000

In [69]:
paises3.loc[paises3.poblacion > 50000000]

           capital  poblacion  sup. en km2
Brasil    Brasilia  212600000      8516000
Colombia    Bogotá   50880000      1143000

__Ejercicio 25:__

 Agregar una columna al DataFrame "paises" que contenga la población en millones de habitantes

In [70]:
paises3

                     capital  poblacion  sup. en km2
Argentina       Buenos Aires   45380000      2780000
Brasil              Brasilia  212600000      8516000
Chile      Santiago de Chile   19120000       756950
Colombia              Bogotá   50880000      1143000
Ecuador                Quito   17640000       283560
Paraguay            Asunción    7133000       406752
Peru                    Lima   32970000      1285216

In [71]:
paises3["pob. en MM"] = paises3.poblacion/1000000
paises3

                     capital  poblacion  sup. en km2  pob. en MM
Argentina       Buenos Aires   45380000      2780000      45.380
Brasil              Brasilia  212600000      8516000     212.600
Chile      Santiago de Chile   19120000       756950      19.120
Colombia              Bogotá   50880000      1143000      50.880
Ecuador                Quito   17640000       283560      17.640
Paraguay            Asunción    7133000       406752       7.133
Peru                    Lima   32970000      1285216      32.970

Volver a agregar una columna al DataFrame "paises" que contenga la población en millones de habitantes, utilizando la función __apply__

__Ejercicio 26:__ Agregar una columna al DataFrame "paises" que contenga la población por cada Km2 de superficie, utilizando la función apply

In [72]:
def densidad(df):
  return df["poblacion"]/df["sup. en km2"]

paises3["densidad pob"] = paises3.apply(densidad, axis=1)

In [73]:
paises3

                     capital  poblacion  sup. en km2  pob. en MM  densidad pob
Argentina       Buenos Aires   45380000      2780000      45.380     16.323741
Brasil              Brasilia  212600000      8516000     212.600     24.964772
Chile      Santiago de Chile   19120000       756950      19.120     25.259264
Colombia              Bogotá   50880000      1143000      50.880     44.514436
Ecuador                Quito   17640000       283560      17.640     62.209056
Paraguay            Asunción    7133000       406752       7.133     17.536484
Peru                    Lima   32970000      1285216      32.970     25.653275

__Ejercicio 27:__ Guardar el DataFrame en formato pickle

In [74]:
paises3.to_pickle("./pickle")

__Ejercicio 28:__ Leer el archivo pickle anterior

In [75]:
pd.read_pickle("./pickle")

                     capital  poblacion  sup. en km2  pob. en MM  densidad pob
Argentina       Buenos Aires   45380000      2780000      45.380     16.323741
Brasil              Brasilia  212600000      8516000     212.600     24.964772
Chile      Santiago de Chile   19120000       756950      19.120     25.259264
Colombia              Bogotá   50880000      1143000      50.880     44.514436
Ecuador                Quito   17640000       283560      17.640     62.209056
Paraguay            Asunción    7133000       406752       7.133     17.536484
Peru                    Lima   32970000      1285216      32.970     25.653275

__Ejercicio 29:__

Guardar el DataFrame paises en formato .csv

In [76]:
paises3.to_csv("./csv")

Guardar el DataFrame paises en formato .xlsx

In [78]:
paises3.to_excel("./excel.xlsx", sheet_name= "paises", index_label= "pais")

__Ejercicio 30:__

Leer el archivo __csv.csv__

In [82]:
paises_csv= pd.read_csv("./csv")

In [83]:
paises_csv

,Unnamed: 0,capital,poblacion,sup. en km2,pob. en MM,densidad pob
0,Argentina,Buenos Aires,45380000,2780000,45.380,16.323741
1,Brasil,Brasilia,212600000,8516000,212.600,24.964772
2,Chile,Santiago de Chile,19120000,756950,19.120,25.259264
3,Colombia,Bogotá,50880000,1143000,50.880,44.514436
4,Ecuador,Quito,17640000,283560,17.640,62.209056
5,Paraguay,Asunción,7133000,406752,7.133,17.536484
6,Peru,Lima,32970000,1285216,32.970,25.653275

Leer el archivo __excel.xlsx__

In [84]:
paises_excel= pd.read_excel("./excel.xlsx", index_col= "pais")

In [85]:
paises_excel

                     capital  poblacion  sup. en km2  pob. en MM  densidad pob
pais
Argentina       Buenos Aires   45380000      2780000      45.380     16.323741
Brasil              Brasilia  212600000      8516000     212.600     24.964772
Chile      Santiago de Chile   19120000       756950      19.120     25.259264
Colombia              Bogotá   50880000      1143000      50.880     44.514436
Ecuador                Quito   17640000       283560      17.640     62.209056
Paraguay            Asunción    7133000       406752       7.133     17.536484
Peru                    Lima   32970000      1285216      32.970     25.653275